*{
      font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    padding:30px 100px;
}

.header-left p{
    font-size: 18px;
}
.header-left{
    align-items: center;
    display: flex;
    gap: 50px;
}
.header-left h3{
    font-size: 2.5rem;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.header-right i{
    font-size: 38px;
}
.fa-brands .fa-twitter{
    color: white !important;
}


/* ---container-title--- */
.container-title{
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-left p{
    color: #ffffffd0;
    padding-bottom: 100px;
    font-size: 19px;
}
.container-left a{
    padding: 20px 50px;
    width:fit-content;
    text-decoration: none;
    background-color: #8DFD1B;
    color:black;
}
.container-left{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    max-width: 400px;
}
.container-left h3{
    font-size: 3rem;
}

/* ----container-text---- */
.container-text{
    padding: 150px 60px;
    display: flex;
    gap: 150px;

}
.container-text-left h3{
    font-size: 3rem;
}
.container-text-left img{
    object-fit: cover;
    margin-left: -50px;
}
.container-text-left{
    width: 100%;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container-text-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 450px;
}
.container-text-right-span{
    font-family: "DM Mono", monospace;
    padding-left: 20px;
    border-left: solid #8DFD1B ;
    color: #8DFD1B;
    font-size: 25px;
}
.container-text-right a{
    text-decoration: none;
    color: white;
    padding: 10px 60px;
    width: fit-content;
    border: solid #8DFD1B ;
}
.container-text-left span{
    color: #A8A8A8;
}

.swiper {
    overflow: hidden;
  }

  .swiper-slide {
    display: flex;
    background: #000000;
    color: white;
    font-size: 28px;
  }
  .swiper-slide h1{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
  }
  .swiper-wrapper {
    transition-timing-function: linear !important;
  }