*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    padding:30px 100px;
}

.header-left p{
    font-size: 18px;
}
.header-left{
    align-items: center;
    display: flex;
    gap: 50px;
}
.header-left h3{
    font-size: 2.5rem;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.header-right i{
    font-size: 38px;
}
.fa-brands .fa-twitter{
    color: white !important;
}


/* ---container-title--- */
.container-title{
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-left p{
    color: #ffffffd0;
    padding-bottom: 100px;
    font-size: 19px;
}
.container-left a{
    padding: 20px 50px;
    width:fit-content;
    text-decoration: none;
    background-color: #8DFD1B;
    color:black;
}
.container-left{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    max-width: 400px;
}
.container-left h3{
    font-size: 3rem;
}