*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    padding:30px 100px;
}

.header-left p{
    font-size: 18px;
}
.header-left{
    align-items: center;
    display: flex;
    gap: 50px;
}
.header-left h3{
    font-size: 2.5rem;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.header-right i{
    font-size: 38px;
}
.fa-brands .fa-twitter{
    color: white !important;
}